/* Header Sticky for desktop */
.desktop-header,
.headerMobile {
  position: relative; /* Or static, depending on your default layout */
  z-index: 1000; /* Ensure it stays on top of other content */
  /* Your other default header styles (e.g., background, padding) */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition for transform and box-shadow */
  transform: translateY(0); /* Initially not translated */
}

.desktop-header.scrolled-header,
.headerMobile.scrolled-header{
  position: fixed; /* Make it stick to the top */
  top: 0;
  left: 0;
  width: 100%;
  /* Add styles for when the header is sticky */
  background-color: var(--e-global-color-primary) !important; /* Example: semi-transparent white background */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Optional: add a subtle shadow */
  transform: translateY(0); /* Ensure it's visible when scrolled */
  margin-top: 0 !important;
}

.headerMobile.scrolled-header {
	background-color: var(--e-global-color-primary) !important
}

/* Optional: Adjust padding to avoid content jumping */
body {
  padding-top: 0; /* Reset default body padding */
  transition: padding-top 0.3s ease-in-out; /* Smooth transition for body padding */
}

body.has-sticky-header {
  padding-top: /* Height of your header */; /* Add padding to the top of the body to prevent content from being hidden behind the sticky header */
}

/* You might need to adjust the height value based on your header's actual height */
/* Example: If your header is 80px tall */
body.has-sticky-header {
  padding-top: 80px;
}

.desktop-header.scrolled-header .headerLogo img{
	width: 150px !important;
}


.desktop-header.scrolled-header .animate-underline-ltr .elementor-icon-list-item:hover .elementor-icon-list-text,
.desktop-header.scrolled-header .animate-underline-ltr .elementor-icon-list-item:hover .elementor-icon-list-icon i{
	color: var(--e-global-color-d5aa1ef) !important;
}

.desktop-header.scrolled-header .elementor-nav-menu--main .elementor-item{
	color: var(--e-global-color-d5aa1ef) !important;
}

.desktop-header.scrolled-header .elementor-nav-menu--main .elementor-item.elementor-item-active,
.desktop-header.scrolled-header .elementor-nav-menu--main .elementor-item:hover{
	color: var(--e-global-color-secondary) !important;
}

.desktop-header.scrolled-header .animate-underline-ltr .elementor-icon-list-item a::before {
  color: var( --e-global-color-d60dc42 ) !important;
}

.desktop-header.scrolled-header .animate-underline-ltr .elementor-icon-list-item .elementor-icon-list-icon i{
  color: var( --e-global-color-d60dc42 ) !important;;
}

.desktop-header.scrolled-header .animate-underline-ltr .elementor-icon-list-item:hover a::before {
	background-color:  var( --e-global-color-d60dc42 ) !important;		
}

.desktop-header.scrolled-header .elementor-element.elementor-element-55c2d46a .elementor-icon-list-text {
  color: var( --e-global-color-d60dc42 ) !important;
}

.desktop-header.scrolled-header .headerSearch .elementor-icon svg,
.desktop-header.scrolled-header .elementor-element.elementor-element-55c2d46a .elementor-icon-list-item .elementor-icon-list-icon svg {
 fill: var( --e-global-color-d60dc42 ) !important;
}



.desktop-header.scrolled-header .headerSearch:hover .elementor-icon svg {
	fill: var(--e-global-color-d5aa1ef) !important;
}
 
.scrolled-header .elementor-element.elementor-element-7f6f688.elementor-view-default .elementor-icon svg{
 fill: var( --e-global-color-d60dc42 ) !important;  
}

/* home page attorney slider */
.h-100 {
	height: 100%;
}

.SocialTrigger .elementor-image-box-content {
	padding: 10px 15px
}

/* customize CSS */
.d-hide {
display: none;
}

/* Banner */
@media only screen and (max-width: 767px) {
	.heroBottomCloumn3 {
	position: unset !important;
	top: unset;
	left: unset;
} 
	
	.heroGridInner {
		background-color: #12151D;
	}
}

/* Baner animation */
.swiper-slide-active .fade-in-up {
  animation: fadeInUp 1s ease-out forwards; 
	animation-delay: 0.9s; 
  opacity: 0;
  transform: translateY(80px); 
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(80px); 
  }
  100% {
    opacity: 1;
    transform: translateY(0); 
  }
}

.swiper-slide-active .fade-in-left {
  animation: fadeInLeft 1s ease-out forwards; 
animation-delay: 0.5s; 
  opacity: 0;
  transform: translateX(-80px); 
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-80px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

.swiper-slide-active .fade-in {
  animation: fadeIn 1s ease-out forwards;
	animation-delay: 0.9s;  
	opacity: 0;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.swiper-slide-active .fade-in-right {
  animation: fadeInRight 1s ease-out forwards; 
	animation-delay: 1.5s; 
	opacity: 0;
  transform: translateX(80px); 
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(80px); 
  }
  100% {
    opacity: 1;
    transform: translateX(0); 
  }
}

/* animate hover underline */

.animate-underline-ltr .elementor-icon-list-item a {
	position: relative;
}

.animate-underline-ltr .elementor-icon-list-item a::before{
	content: "";
  position: absolute;
  width: 0;
  height: 1px;
  top: 30px;
  transition: all .3s;
  background-color: var(--e-global-color-secondary);;
}

.animate-underline-ltr .elementor-icon-list-item a:hover::before {
	content: '';
  transition: all .3s;
  width: 100%;
}

/* Components */
#IconButtonmodel1 {
	border-radius: 0;
	width:300px;
}
#IconButtonmodel1 .elementor-button-icon {
	width: 100%;
	max-width: 80px;
 padding: 8px 0;
 background-color: #b8967e;
	color: #ffffff;
	transition: .5s;
	display: flex;
	justify-content:center;
	align-items: center;
}

#IconButtonmodel1:hover .elementor-button-icon {
	background-color: #ffffff;
	color: #12151D;
}

#IconButtonmodel1 .elementor-button-text {
	width: 100%;
	max-width: 220px;
  padding: 8px 0;
	transition: .5s;
}

#IconButtonmodel1:hover .elementor-button-text {
	background-color: #b8967e;
	color: #ffffff;
}

@media only screen and (max-width: 375px){
	#IconButtonmodel1 {
	font-size: 24px;
	width:250px;
}
}


/* Sidebar  */
aside {
	display: flex;
}

.Ctaegoy_list-widget {
	padding-left: 24px;
	padding-bottom: 30px
}

.Ctaegoy_list-widget li a {
	color: var(--e-global-color-primary);
	transition: .3s;
	font-size: 22px;
}

.Ctaegoy_list-widget li {
	border-bottom: 1px solid var(--e-global-color-secondary);
	margin-bottom: 15px;
	padding-bottom: 10px !important
}

.Ctaegoy_list-widget li a:hover,
.Ctaegoy_list-widget li a:focus {
	color: var(--e-global-color-secondary);
}

.recent_post li img{
	max-width: 80px
}

.recent_post {
	padding-top: 0 !important;
	margin-bottom: 30px !important;
}


.sidebar_tags a{
	color: #262626;
	padding: 3px 5px;
  border: 1px solid #262626;
  border-radius: 3px;
  transition: .3s;
}

.sidebar_tags a:hover,
.sidebar_tags a:focus {
	background-color: #262626;
	color: #ffffff;
}